<div class="container-fluid">

    <h2 class="hello ">Portfolio</h2>

    <div class="footer_container">
        <div class="aboutme2">
    
            <div data-aos="zoom-in-right" class="aboutme_container">
    
                
            <div class="aboutme22">
                <p class="m-0">Dynamic and motivated Communication Engineering graduate with proven expertise in full
                    stack development, specializing in PHP,Laraveland front-end technologies
            </div>
            
    
    
            </div>
    
    
        </div>

        <div class="contact">
            <h2 class="hello ">Contact ME</h2>

            <div  class="aboutme">
  
        
                <div class="about">
                    <h4>Phone :</h4>
                    <h4 class=""> 01206282600</h4>
                </div>
        
                <div class="about">
                    <h4>Emai :</h4>
                    <h4 class="" > 
                        <a href="https://mail.google.com/mail/u/0/?hl=ar#inbox">
        
                            <i class="fa-regular fa-envelope"></i>            
                        </a>
                    </h4>
                </div>
        
                <div class="about">
                    <h4>Linkedin :</h4>
                    <h4 class="" > 
                        <a href="https://www.linkedin.com/in/omar-wagdy10/">
        
                            <i class="fa-brands fa-linkedin"></i>
                        </a>
                    </h4>
                </div>
        
                <div class="about">
                    <h4>Github :</h4>
                    <h4 class="" > 
                        <a href="https://github.com/Omarwagdy10">
                            <i class="fa-brands fa-github"></i>       
                        </a>
                      </h4>
                </div>

                <div class="about">
                    <h4>Facebook :</h4>
                    <h4 class="" > 
                        <a href="https://www.facebook.com/gamedmero">
        
                            <i class="fa-brands fa-facebook"></i>                        </a>
                    </h4>
                </div>



            </div>
        


        </div>



    </div>





    


</div>