<div class="container-fluid">
    <h2 class="hello ">About Me</h2>

    <div  class="aboutme">
        <div class="about">
            <h4>From :</h4>
            <h4 class=""> Port Said, Egypt
            </h4>
        </div>

        <div class="about">
            <h4>Phone :</h4>
            <h4 class=""> 01206282600</h4>
        </div>

        <div class="about">
            <h4>Emai :</h4>
            <h4 class="" > 
                <a href="https://mail.google.com/mail/u/0/?hl=ar#inbox">

                    <i class="fa-regular fa-envelope"></i>            
                </a>
            </h4>
        </div>

        <div class="about">
            <h4>Linkedin :</h4>
            <h4 class="" > 
                <a href="https://www.linkedin.com/in/omar-wagdy10/">

                    <i class="fa-brands fa-linkedin"></i>
                </a>
            </h4>
        </div>

        <div class="about">
            <h4>Github :</h4>
            <h4 class="" > 
                <a href="https://github.com/Omarwagdy10">
                    <i class="fa-brands fa-github"></i>       
                </a>
              </h4>
        </div>
    </div>

    <div class="aboutme2">
        <h2 class="hello "> Professional Summary</h2>

        <div data-aos="zoom-in-right" class="aboutme_container">

            
        <div class="aboutme22">
            <p>Dynamic and motivated Communication Engineering graduate with proven expertise in full
                stack development, specializing in PHP,Laraveland front-end technologies. Proven track
                record of applying practical skills in a variety of internships, achieving high grades in
                rigorous programming courses, and delivering high-quality web development projects.</p>
        </div>
        


        </div>


    </div>

    

    <div class="aboutme2">
        <h2 class="hello ">Education</h2>

        <div data-aos="zoom-in-right" class="aboutme_container">

            
        <div class="aboutme22">
            <p>
                Bachelor of Communication Engineering
 Delta University for Science and Technology, Egypt
 Cumulative Grade: Very Good (GPA:2.816)
 Graduation Year: [ 2023]
 Graduation Project: LMS (Learning Management System), Grade: A+
            </p>
        </div>
        


        </div>


    </div>

    
    <div class="aboutme2">
        <h2 class="hello ">Internship</h2>

        <div data-aos="zoom-in-right" class="aboutme_container">

            
        <div class="aboutme22">
            <p>
                Full stack PHP,three-month program, Intensive Code Camp (ICC),Information Technology
                Institute (ITI), Port Said
                1 May2024 - 16 May2024
                Fundamentals of Front end Web Development, (120hrs), Ministry of Communication and
                Information Technology (MCIT), Information Technology Institute (ITI), ITI SuezCanal
                Branch
            </p>
        </div>
        


        </div>


    </div>

    <div class="aboutme2">
        <h2 class="hello ">Courses</h2>

        <div data-aos="zoom-in-right" class="aboutme_container">

            
        <div class="aboutme22">
            <p>
                PHP90, Full Stack PHP(Front end) (Intake#PHP90), Association of Management and
                Information Technology (AMIT), ElMaadi, Egypt (with a graduation grade of 99%)
                23/7/2023– 20/12/2023
            </p>
        </div>
        


        </div>


    </div>

    <div class="aboutme2">
        <h2 class="hello ">certifications</h2>

        <div data-aos="zoom-in-right" class="aboutme_container">

            
        <div class="aboutme3">

            <div class="cer_container">
                <h5><a target="_blank" href="https://drive.google.com/file/d/19iuxiayEHZEl9alv-jgnXpR-w1gNfQAE/view?usp=sharing">Amit</a></h5>
                <h5><a target="_blank" href="https://drive.google.com/file/d/1BB6UXG42NONAMS0emU7l39gZcjz3hlRa/view?usp=sharing">Up work</a></h5>
                <h5><a target="_blank" href="https://drive.google.com/file/d/1J0fcEe_mKoxZMJDyOpIBSPvFChiFldWA/view?usp=sharing">khamsat</a></h5>
                <h5><a target="_blank" href="https://drive.google.com/file/d/1fD4Bc8yiokKLXgjcIZ8mmTdjIkkOm0r6/view?usp=sharing">Iti platform</a></h5>
                <h5><a target="_blank" href="https://drive.google.com/file/d/1ksGzOLvVymZ2okK_mND_QJxnZpy-qOow/view?usp=sharing">Mostaql</a> </h5>
                <h5><a target="_blank" href="https://drive.google.com/file/d/1Gj4EYOKYK-lipwLa3lJaLNk9NRsHZ-VQ/view?usp=sharing">MongoDB</a> </h5>
                <h5><a target="_blank" href="https://drive.google.com/file/d/1PthNVwqbeC0l5XmKUCiEsn20Cb1XB5-K/view?usp=sharing">Fundamentals HTML&CSS3</a> </h5>
            </div>

        </div>
        


        </div>


    </div>



</div>

