<div class="container-fluid">
  <h2 class="hello">My projects</h2>

  <div class="projects">
    <div
      data-aos="flip-left"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="2000"
      class="project"
    >
      <div class="project_img">
        <a href="https://portofilio-beta.vercel.app/">
          <img src="../../../assets/Screenshot 2024-05-30 181858.png" alt="" />
        </a>
      </div>

      <div class="project_details">
        <h5>Portfolio</h5>
        <h6>Portfolio</h6>
        <h6>techniques</h6>
        <div class="techniques">
          <h6>Angular</h6>
          <h6>CSS</h6>
          <h6>Type Script</h6>
          <h6>Bootstrap</h6>
          <h6>NGX</h6>
          <h6>PrimeNG</h6>
        </div>
      </div>
    </div>

    <div
      data-aos="flip-left"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="2000"
      class="project"
    >
      <div class="project_img">
        <a href="https://github.com/seifelden66/El-Safa">
          <img src="../../../assets/Screenshot 2024-05-29 181853.png" alt="" />
        </a>
      </div>

      <div class="project_details">
        <h5>E-commerce</h5>
        <h6>Full Stack Project</h6>
        <h6>techniques</h6>
        <div class="techniques">
          <h6>Angular</h6>
          <h6>CSS</h6>
          <h6>Typescript</h6>
          <h6>Bootstrap</h6>
          <h6>API</h6>
          <h6>Mongo DB</h6>
          <h6>No SQL</h6>
          <h6>Routing</h6>
        </div>
      </div>
    </div>

    <div
      data-aos="flip-left"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="2000"
      class="project"
    >
      <div class="project_img">
        <a href="https://new-resturant-react-project-7wus-lqsy3entm.vercel.app">
          <img src="../../../assets/Screenshot 2025-11-30 121043.png" alt="" />
        </a>
      </div>

      <div class="project_details">
        <h5>Resturant Project</h5>
        <h6>Client Side Project</h6>
        <h6>techniques</h6>
        <div class="techniques">
          <h6>React</h6>
          <h6>css</h6>
          <h6>Bootstrap</h6>
          <h6>Redux</h6>
        </div>
      </div>
    </div>

    <div
      data-aos="flip-left"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="2000"
      class="project"
    >
      <div class="project_img">
        <a href="electronic-e-commerce-nine.vercel.app">
          <img src="../../../assets/Screenshot 2025-11-30 123915.png" alt="" />
        </a>
      </div>

      <div class="project_details">
        <h5>E-commerce</h5>
        <h6>Client Side Project</h6>
        <h6>techniques</h6>
        <div class="techniques">
          <h6>HTML</h6>
          <h6>CSS</h6>
          <h6>Java Script</h6>
          <h6>Bootstrap</h6>
          <h6>API</h6>
        </div>
      </div>
    </div>

    <div
      data-aos="flip-left"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="2000"
      class="project"
    >
      <div class="project_img">
        <a href="https://furniture-webpage-smoky.vercel.app/">
          <img src="../../../assets/Screenshot 2024-05-29 181438.png" alt="" />
        </a>
      </div>

      <div class="project_details">
        <h5>E-commerce</h5>
        <h6>React Project</h6>
        <h6>techniques</h6>
        <div class="techniques">
          <h6>React</h6>
          <h6>css</h6>
          <h6>Bootstrap</h6>
          <h6>Redux</h6>
          <h6>Routing</h6>
          <h6>API</h6>
        </div>
      </div>
    </div>

    <div
      data-aos="flip-left"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="2000"
      class="project"
    >
      <div class="project_img">
        <a href="https://seifelden66.github.io/ITI-client-side-project/">
          <img src="../../../assets/Screenshot 2024-05-29 175443.png" alt="" />
        </a>
      </div>

      <div class="project_details">
        <h5>E-commerce</h5>
        <h6>Client Side Project</h6>
        <h6>techniques</h6>
        <div class="techniques">
          <h6>HTML</h6>
          <h6>CSS</h6>
          <h6>Java Script</h6>
          <h6>Bootstrap</h6>
          <h6>API</h6>
        </div>
      </div>
    </div>

      <div
      data-aos="flip-left"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="2000"
      class="project"
    >
      <div class="project_img">
        <a href="">
          <img src="../../../assets/Screenshot 2025-11-30 124843.png" alt="" />
        </a>
      </div>

      <div class="project_details">
            <h5>E-commerce</h5>

        <h6>Client Side Project</h6>
        <h6>techniques</h6>
        <div class="techniques">
          <h6>HTML</h6>
          <h6>CSS</h6>
          <h6>Java Script</h6>
          <h6>Bootstrap</h6>
          <h6>API</h6>
        </div>
      </div>
    </div>


    <div
      data-aos="flip-left"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="2000"
      class="project"
    >
      <div class="project_img">
        <a href="https://restaurant-webpage-mocha.vercel.app/">
          <img src="../../../assets/Screenshot 2024-05-29 182404.png" alt="" />
        </a>
      </div>

      <div class="project_details">
            <h5>Resturant Project</h5>

        <h6>Client Side Project</h6>
        <h6>techniques</h6>
        <div class="techniques">
          <h6>HTML</h6>
          <h6>CSS</h6>
          <h6>Java Script</h6>
          <h6>Bootstrap</h6>
          <h6>API</h6>
        </div>
      </div>
    </div>
  </div>
</div>
